src/main/mule/webinar-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac0d1901-904e-4bdc-bb97-c88a165f7403" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="webinar-cicd-demoFlow" doc:id="6594383d-a6f9-4c7f-912e-f8e07425d246" >
		<http:listener doc:name="Listener" doc:id="16fc7df4-dea0-42bc-9944-9da03a56bafb" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="1eca31c9-f8cc-436e-8e44-221e1d695e00" message='#["This is a test run"]'/>
		<ee:transform doc:name="Transform Message" doc:id="7f7a0a51-5430-4d2c-927f-b5daa46b43af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello World"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
